#signup{
  margin-bottom: 0px;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-top: 10px;
}

#welcome{
  margin: auto;
  height: 400px;
  width: 600px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}


#data{
  display: flex;
  margin-left: 10px;
  margin-top: 0px;
  flex-direction: column;
  justify-content: space-between; /* This will push the signup form to the bottom */
  height: 100%;
   
}

#logo{
  height: 400px;
  width: 340px;
}

#signuptext{
  font-weight: bold;
  display: flex;
}

#login{
  background-color: white;
  height: 90px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.button{
  align-self: flex-end;
}

.textfield{
  height: 25px;
  display: flex;
  justify-content: space-between; 
}

.fieldinput{
  height: fit-content;
  width: 150px;
  margin: auto;
}

.fieldname{
  margin-left: 5px;
  margin-top: 0px;
  width: 95px;
}


body, html {
  height: 100%;
  margin: 0;
  background-color: bisque;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;    
  width: 33.33%;
}
  
.tablink:hover {
  background-color: #777;
}


#changepassword{
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  row-gap: 3px;
}


#profile{
  overflow: hidden;
}


.userinfo{
  background-color: lightsalmon;
  display: inline-block;
  padding: 50px;
  margin-top: 10px;
  vertical-align: top;
}
  
#home{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}

#browsemessagediv{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}


.messageboard{
  margin-top: 10px;
  display: inline-block;
  background-color: lightsalmon;
  height: 750px;
  width: 750px;
  margin-left: 8px;
}

.messagewall{
  overflow-y: scroll;
  max-height: 600px;
  margin-left: 10px;
}

.messagefield{
  width: 500px;
  margin-left: 10px;
  margin-top: 0px;
}

.messageheader{
  border-bottom: 1px solid #555;
  margin-bottom: 0px;
}
