body, html {
    height: 100%;
    margin: 0;
  }

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33%;
  }
  
  .tablink:hover {
    background-color: #777;
  }


  /*______part 8_______*/

#homeuserinfo{
  background-color: red;
  display: inline-block;
  padding: 50px;
  margin-top: 10px;
}

#home{
  display: inline-block;
}


#messageboard{
  display: inline-block;
  background-color: lightsalmon;
  height: 750px;
  width: 750px;
}

#messagewall{
  overflow-y: scroll;
}

#messagefield{
  width: 500px;
  margin-left: 10px;
}
